.sb-images-num {
    margin-left: .25rem;
    vertical-align: text-top;
}

.sb-img-mx ~ img {
    margin-left: 1rem;
}

.sb-field-images {
    width: 100%;
    overflow: hidden;
}

.sb-field-images img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 640px;
    max-height: 15rem;
}
